.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: columnn;
  background-color: rgba(245, 238, 224);
  position: relative;   /* CHANGED from fixed */
}

.page-content {
  margin-top: 160px;  /* Adjust as needed */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* keeps the titles centered */
}


/* -------- TOP LEFT MENU -------- */

.menu-title {
  color: rgba(23, 60, 87);
  font-size: 40px;
}

.nav-dropdown {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 10;
}

summary {
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.menu-list {
  margin-top: 8px;
  padding: 0;
  list-style: none;
  background: #f2f2f2;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.menu-list li a {
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  color: black;
}

.menu-list li a:hover {
  background: #e0e0e0;
}

/* -------- TOP RIGHT LOGO -------- */

.logo-container {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 10;
}

.logo-img {
  width: 120px;
  height: auto;
  cursor: pointer;
}

/* -------- SEARCH BAR (CENTER) -------- */

.search-bar input {
  width: 280px;
  padding: 10px 14px;
  font-size: 15px;

  border-radius: 20px;
  border: 1px solid #ccc;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: rgba(245, 238, 224);
}

/* -------- CARDS -------- */


.card{
  border: 1px solid  rgba(23, 60, 87);
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(70, 69, 69, 0.182);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 140px;
  max-height: 140px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px); /* lifts the card */
  box-shadow: 8px 8px 15px rgba(70, 69, 69, 0.3); /* stronger shadow */
}

.card .card-image{
  width: 90%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color:  rgba(23, 60, 87);
  font-size: 14px;
  padding-top: 60px;
}

.category-container{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.recent-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  gap: 30px;
}

.section-label{
    color:  rgba(23, 60, 87);
    margin-left: 20px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.Recent {
  margin-top: 100px;
}


